.avast_Informations_Nav{
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, 'Rajdhani';
    
}

.avast_informations{
    margin: 0 auto;
    padding: 128px 16px;
    width: 55%;
   
}

.avast_Header{
font-size: 46px;
margin: 0 0 24px;
text-align: center;
height: 64px;
}

.avast_Informations_Text{
    background-color: white;
    border-radius: 0 20px 20px 20px;
    box-shadow: 5px 5px 15px 5px  rgb(240, 240, 240);
  
}

.avast-item{
    padding: 36px;
    font-size: 16px;
    border-top: 2px solid rgb(236, 236, 236);
    cursor: pointer;
        
}
.avast-item:hover{
    box-shadow: 0px 4px 13px -1px #acacac;
  
}

.avast-item:hover .avast-title, .avast-content:hover .avast-title{
    color: #0173ff;
}

.avast-item:hover .avast_icon, .avast-content:hover .avast_icon{
    background-color: #0173ff;
    color: white;
}

.avast-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 5px 0 0;
    font-size: 20px;
    
}

.avast-title:hover{
    color: #0173ff;
    
}

.avast_titel{
    font-weight: bold;
}

.avast_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #0070F6;
    font-size: 26px;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 0 2px 4px 0px #0070F6;
    
}

.avast-content{
    padding:  0 0 5px;
    margin-top: 40px;
    line-height: 30px;
   
}

.avast_ul{
    margin: 0 0 16px;
    padding: 0 0 0 40px;
    line-height: 30px;
}

.suport_center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 ;
    font-size: 16px;
    height: 24px;
}
 .suport_center a{
     color: black;
     width: 50%;
 }

 .suport_center a:hover{
     text-decoration: none;
 }

 @media screen and (max-width: 990px) {
    .avast_Informations_Nav{
        width: 667px;
    }
    .avast_Header{
        font-size: 34px;
        margin: 100px 0 24px 0;
        font-weight: bold;
    }
    .avast_informations{
        width: 100%;
        padding: 16px;
    }
    .avast_Informations_Text{
        border-radius: 0 35px 35px 35px;
    }

    .suport_center{
        margin: 40px 0 254px 0;
    }

 }
