


.brauzer{
    font-family: Arial, Helvetica, sans-serif, 'Rajdhani';
    max-width: 100%;
}

.img_Blue{
    width: 100%;
    margin-top: 300px;
    background-image: url("../../public/img/images color.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.nav_Blue{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    
    
}

.body_Blue{
    padding: 0 16px;
    padding: 50px 0;
    
}

.row_Blue{
    width: 28%;
    padding:  0 16px;
    color: white;
    padding: 50px 0;
    
}

.body_Blue_word{
    font-size: 46px;
    margin:  0 0 24px;
    line-height: 70px;
}

.media_text_blue{
    font-size: 18px;
    line-height: 40px;
}

.learn_blue{
    padding: 20px 20px 20px 0;
    
}

.learn_blue{
    font-size: 12px;
}

.img_blue{
    font-size: 24px;
    margin: 0 0 0- 8px;
    color: #f57701;
}

.phone_Blue{
 width: 35%;
 padding: 0 16px; 
 
}

.phone_Img-Blue{
    width: 516px;
    height: 303px;
    margin-left: 140px; 
}

.built{
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_center{
    padding: 0 16px;
    text-align: center;
}

.head_Text_Built{
    font-size: 46px;
    margin: 40px 0 24px;
    
}

.body_Text_Built{
    font-size: 22px;
    margin:  62px 0 32px;
}

.text_Futer_Built{
    display: flex;
    width: 70%;
}

.card_medium{
    width: 29%;
    padding: 32px 32px 40px;
}
.next_large{
    margin:  0 0 24px;
    padding: 48px 0 0 ;
}

.text_icon{
    display: flex;
    width: 45px;
    height: 45px;
    font-size: 38px;
    color: #f57701;

}
.text{
    font-size: 18px;
    margin:  0 0 24px;
    line-height: 40px;
}

.text_length{
    font-size: 18px;
    margin:  0 0 16px;
    line-height: 40px;
}

.tyler_star{
    margin: 105px 0;
}
.tyler_star_length{
    margin: 1px 0;
}

.tyler{
    font-size: 20px;
}

.stars{
    padding: 22px 0 0;
    color: #f57701;
    font-size: 20px;
}

@media screen and (max-width: 990px){
    .built{
        width: 667px;
    }

    .text_Futer_Built{
        display: block;
    }

    .card_medium{
        width: 100%;
        text-align: start;
    }

    .text{
        line-height: 25px;
    }

    .tyler_star{
        margin: 0;
    }

    .text_length{
        line-height: 25px;
    }
    .brauzer{
        text-align: center;
    }
    .nav_Blue{
        flex-direction: column;
    }
    .row_Blue{
        width: 100%;
        padding: 100px 0;
    }
    
    .body_Blue{
        padding: 0 16px;
        line-height: 30px;
    }

    .body_Blue_word{
        font-size: 34px;
        line-height: 60px;
        margin: 0 0 350px;
    }

    .media_text_blue{
        font-size: 16px;
        line-height: 20px;
    }

    .img_Blue{
        width: 666px;
        margin-top: 100px;
    }

    .phone_Blue{
        position: absolute;
        left: -50px;
    }
}